h1{
    color:aqua;
    font-family:arial;
    font-size: 80px;
    text-align: center;
}

}
body{
    background-color:rgb(0, 0, 0)
    }
    
    
    p{
    color:rgb(0, 0, 0);
    font-family:arial;
    font: size 200px;
    background: 
    }