h1{
    color:rgb(0, 236, 236);
    font-family:arial;
    font-size: 80px;
    text-align: center;
}


body{
    background-color:rgb(212, 205, 205)
    }
    
    
    p{
    color:rgb(255, 255, 255);
    font-family:arial;
    font: size 200px;
    background:
    text-align: center; 
    }