h1{
    color:rgb(0, 236, 236);
    font-family:arial;
    font-size: 80px;
    text-align: center;
}


body{
    background-color:rgb(128, 125, 125)
    

}
    
    
    p{
    color:rgb(0, 0, 0);
    font-family:arial;
    font: size 200px;
    background:
    text-align: center; 
    }

    #foto {width: 100%;}