h1{
    color:aqua;
    font-family:arial;
    font-size: 80px;
    text-align: center;
}


body{
    background-color:rgb(255, 255, 255)
    }
    
    
    p{
    color:rgb(255, 255, 255);
    font-family:arial;
    font: size 200px;
    background:
    text-align: center; 
    }